---
import Layout from "~/layouts/Layout.astro";
import Section from "~/components/Section.astro";
import Heading from "~/components/Heading.astro";
import FormBook from "~/components/forms/FormBook.astro";
---

<Layout>
  <Section>
    <Heading>
      <h2 slot="heading-title" class="font-black text-brand-green h2">
        Private Hire
      </h2>
      <p slot="heading-content" class="text-pretty">
        Interested in hosting a party or special event with us? Please get in
        touch via the enquiry button below or email us for details.
      </p>
    </Heading>

    <FormBook />
  </Section>
</Layout>
